.App {
  background: #0f0d23;
  direction: rtl;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.iconButton{
  transition: all 0.2s !important;
}
.iconButton:hover{
  background-color:#f4f4f6 !important;
  box-shadow: 0 7px 7px rgba(0,0,0,0.4);
}

.list-card{
  transition: all 0.2s !important;
}

.list-card:hover{
  padding-bottom: 20px;
  padding-top:20px ;
  box-shadow: 0 7px 7px rgba(0,0,0,0.4);
}

/* ===== CUSTOM FONTS ====== */
@font-face {
  font-family: Alexandria;
  src: url("../public/fonts/Alexandria-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Alexandria;
  src: url("../public/fonts/Alexandria-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Alexandria;
  src: url("../public/fonts/Alexandria-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: Alexandria;
  src: url("../public/fonts/Alexandria-Light.ttf");
  font-weight: 200;
}

/* =====// CUSTOM FONTS //====== */